<%- include("header"); -%>
<div class="errorpage">
    <h1>Error. You forgot to write the task!</h1>

    <p>Click <a href="/">here</a> to return to the homepage.</p>
</div>
<%- include("footer"); -%>